
//Color theme 

$background-1 : #FFFAEE;


$font-base : 16px ;
$font-family : "Didact Gothic" ;

// BREACKPOINTS
// !! Attention modifier uniquement les valeurs !!
// La mixin "media(nom du breackpoint)" permet d'inclure 
// @media (min-width:$valeur) {}
$breakpoints: (
  sm-mobile: 320px,
  md-mobile: 576px,
  tablet: 820px,
  desktop: 1200px,
  large-desktop: 1400px,
);