@use'../abstract/variables'as var;

header {
  //style
background-color: var.$background-1;

//comportement
display: flex;
justify-content: center;
margin-top: 1.5rem;


svg {
  width: 3em;
  height: 3em;
}


}

